@model Figlut.Repeat.Web.Site.Models.ChangeUserPasswordModel

@using Figlut.Repeat.Web.Site.Configuration;
@using Figlut.Repeat.Web.Site.Extensions;

@{
    ViewBag.Title = RepeatWebApp.Instance.Settings.ApplicationName;
    ViewBag.PageTitle = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
}

<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-unlock-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
            <a href="" style="float:right">Change Password</a>
        </li>
    </ul>
</nav>
<hr />

<div class="centerForm">
    <form id="ChangePasswordForm">
        @Html.ValidationSummary("Change password failed.")
        <fieldset>
            <legend>User</legend>
            <div class="field-label">
                @Html.Raw("Current Password")
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.CurrentPassword, new{ onkeypress = "return searchKeyPress(event)"})
                @Html.ValidationMessageFor(m => m.CurrentPassword)
            </div>

            <div class="field-label">
                @Html.Raw("New Password")
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="field-label">
                @Html.Raw("Confirm New Password")
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmNewPassword)
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
            </div>
            <div class="buttons">
                @Html.LinkButtonForSubmit("Save", "onChangePasswordClick()", "btnChangePassword")
                @Html.LinkButtonForCancel("Cancel", "onChangePasswordCancelClick()", "btnChangePasswordCancel")
            </div>
            <div id="ChangePasswordErrorField" style="color:#8A0808"></div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#CurrentPassword").focus();
        $(document).keypress(function (event) {
            if (event.which == 13) {
                $("#btnChangePassword").click();
                return false;
            }
        });
    });

    function searchKeyPress(e) {
        // look for window.event in case event isn't passed in
        e = e || window.event;
        if (e.keyCode == 13) {
            document.getElementById('btnChangePassword').click();
            return false;
        }
        return true;
    }

    function onChangePasswordClick() {
        $.ajax({
            url: '@Url.Action("ChangePassword", "User")',
            type: 'POST',
            data: $("#ChangePasswordForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    var url = '@Url.Content("~/Home")'
                    window.location.href = url;
                } else {
                    $("#ChangePasswordErrorField").html(data.ErrorMsg);
                }
            }
        })
    };
    function onChangePasswordCancelClick() {
        var url = '@Url.Content("~/Home")';
        window.location.href = url;
    };
</script>