@model Figlut.Spread.Web.Site.Models.SmsMessageTemplateModel

<div id="dlgCreateSmsMessageTemplate">
    <img src="~/Images/Icons/red-document-plus-icon32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="CreateSmsMessageTemplateForm">
            @Html.ValidationSummary(true, "Failed to create.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.SmsMessageTemplateId)
                @Html.HiddenFor(m => m.DateCreated)
                @Html.HiddenFor(m => m.OrganizationName)
                @if (ViewBag.OrganizationsList != null)
                {
                    <div class="field-label">
                        @Html.Raw("Organization")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("OrganizationId", ViewBag.OrganizationsList as List<SelectListItem>, new { @class = "drop-down-field" })
                    </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.OrganizationId)
                }
                <div class="field-label">
                    @Html.Raw(string.Format("Message (max {0} characters)", Model.MaxSmsSendMessageLength))
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(m => m.Message, new { style = "height: 100px;width:80%", onKeyPress = "return disableEnterKey(event)" })
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
                <br />
                <div id="CreateSmsMessageTemplateErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgCreateSmsMessageTemplate';
        createDialog(dialogName, 'Create Sms Message Template', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
        enableDatepickers();
    });

    function onConfirmOK() {
        var dialogName = '#dlgCreateSmsMessageTemplate';
        var postBackUrl = '@Url.Action("CreateDialog", "SmsMessageTemplate")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#CreateSmsMessageTemplateForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#CreateSmsMessageTemplateErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {

    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#CreateSmsMessageTemplateErrorField").html('');
    }
</script>