@model Figlut.Spread.Web.Site.Models.RepeatScheduleEntryModel

<div id="dlgEditRepeatScheduleEntry">
    <img src="~/Images/Icons/red-edit32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="EditRepeatScheduleEntryForm">
            @Html.ValidationSummary(true, "Failed to edit.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.RepeatScheduleEntryId)
                @Html.HiddenFor(m => m.RepeatScheduleId)
                @Html.HiddenFor(m => m.RepeatDateFormatted)
                @Html.HiddenFor(m => m.RepeatDateDayOfWeek)
                @Html.HiddenFor(m => m.NotificationDateCreate)
                @Html.HiddenFor(m => m.NotificationDateFormatted)
                @Html.HiddenFor(m => m.NotificationDateDayOfWeek)
                @Html.HiddenFor(m => m.SMSMessageId)
                @Html.HiddenFor(m => m.DateCreated)
                @Html.HiddenFor(m => m.SubscriptionId)
                @Html.HiddenFor(m => m.NotificationMessage)
                @Html.HiddenFor(m => m.ScheduleName)
                @Html.HiddenFor(m => m.Quantity)
                @Html.HiddenFor(m => m.UnitOfMeasure)
                @Html.HiddenFor(m => m.DaysRepeatInterval)
                @Html.HiddenFor(m => m.NotificationDateFormatted)
                @Html.HiddenFor(m => m.RepeatScheduleNotes)
                @Html.HiddenFor(m => m.RepeatScheduleDateCreated)

                <div class="field-label">
                    @Html.Raw("Repeat Date")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.RepeatDate, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.RepeatDate)
                </div>
                <div class="field-label">
                    @Html.Raw("Notification Date")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.NotificationDate, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.NotificationDate)
                </div>
                <div class="field-label">
                    @Html.Raw("SMS Notification Sent")
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.SMSNotificationSent)
                    @Html.ValidationMessageFor(m => m.SMSNotificationSent)
                </div>
                <br />
                <div id="EditRepeatScheduleEntryErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgEditRepeatScheduleEntry';
        createDialog(dialogName, 'Edit Repeat Schedule Entry', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
        enableDatepickers();
    });

    function onConfirmOK() {
        var dialogName = '#dlgEditRepeatScheduleEntry';
        var postBackUrl = '@Url.Action("EditDialog", "RepeatScheduleEntry")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#EditRepeatScheduleEntryForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#EditRepeatScheduleEntryErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {

    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#EditRepeatScheduleEntryErrorField").html('');
    }
</script>