@model Figlut.Spread.Web.Site.Models.OrganizationSubscriptionModel
<div id="dlgEditOrganizationSubscription">
    <img src="~/Images/Icons/red-edit32.png" style="float:right; margin-right:1%; margin-left:1%"/>
    <div class="centerForm">
        <form id="EditOrganizationSubscriptionForm">
            @Html.ValidationSummary(true, "Failed to edit.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.SubscriptionId)
                @Html.HiddenFor(m => m.OrganizationId)
                @Html.HiddenFor(m => m.SubscriberId)
                @Html.HiddenFor(m => m.OrganizationId)
                @Html.HiddenFor(m => m.DateCreated)
                @Html.HiddenFor(m => m.SubscriberCellPhoneNumber)
                @Html.HiddenFor(m => m.SubscriberName)
                @Html.HiddenFor(m => m.SubscriberIsEnabled)
                @Html.HiddenFor(m => m.SubscriberDateCreated)

                <div class="field-label">
                    @Html.Raw("Subscriber Cell Phone Number")
                </div>
                <div class="editor-field-dialog">
                    @Html.TextBoxFor(m => m.SubscriberCellPhoneNumber, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.SubscriberCellPhoneNumber)
                </div>
                <div class="field-label">
                    @Html.Raw("Subscriber Name")
                </div>
                <div class="editor-field-dialog">
                    @Html.TextBoxFor(m => m.SubscriberName, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.SubscriberName)
                </div>
                <div class="field-label">
                    @Html.Raw("Enabled")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.Enabled, new SelectList(
                        new[] 
                        { 
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.Enabled, "Enabled is required.")
                </div>
                <br />
                <div id="EditOrganizationSubscriptionErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgEditOrganizationSubscription';
        createDialog(dialogName, 'Edit Organization Subscription', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
    });

    function onConfirmOK() {
        var dialogName = '#dlgEditOrganizationSubscription';
        var postBackUrl = '@Url.Action("EditDialog", "OrganizationSubscription")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#EditOrganizationSubscriptionForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#EditOrganizationSubscriptionErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {

    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#EditOrganizationSubscriptionErrorField").html('');
    }
</script>