@model Figlut.Repeat.Web.Site.Models.CountryModel

<div id="dlgCreateCountry">
    <img src="~/Images/Icons/red-document-plus-icon32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="CreateCountryForm">
            @Html.ValidationSummary(true, "Failed to create.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.CountryId)
                @Html.HiddenFor(m => m.DateCreated)
                <div class="field-label">
                    @Html.Raw("Country Code")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.CountryCode)
                    @Html.ValidationMessageFor(m => m.CountryCode)
                </div>
                <div class="field-label">
                    @Html.Raw("Country Name")
                </div>
                <div class="editor-field-dialog">
                    @Html.EditorFor(m => m.CountryName)
                    @Html.ValidationMessageFor(m => m.CountryName)
                </div>
                <br />
                <div id="CreateCountryErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgCreateCountry';
        createDialog(dialogName, 'Create Country', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
    });

    function onConfirmOK() {
        var dialogName = '#dlgCreateCountry';
        var postBackUrl = '@Url.Action("CreateDialog", "Country")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#CreateCountryForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#CreateCountryErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {

    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#CreateCountryErrorField").html('');
    }
</script>