@model Figlut.Repeat.Web.Site.Models.ProcessorModel

<div id="dlgEditProcessor">
    <img src="~/Images/Icons/red-edit32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="EditProcessorForm">
            @Html.ValidationSummary(true, "Failed to edit.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.ProcessorId)
                @Html.HiddenFor(m => m.DateCreated)
                @Html.HiddenFor(m => m.LastExecutionDate)
                @Html.HiddenFor(m => m.DateCreated)
                <div class="field-label">
                    @Html.Raw("Name")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="field-label">
                    @Html.Raw("Enabled")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.Enabled, new SelectList(
                        new[]
                        {
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.Enabled, "Enabled is required.")
                </div>
                <div class="field-label">
                    @Html.Raw("Execution Interval (milliseconds")
                </div>
                <div class="editor-field-dialog">
                    @Html.EditorFor(m => m.ExecutionInterval)
                    @Html.ValidationMessageFor(m => m.ExecutionInterval)
                </div>
                <br />
                <div id="EditProcessorErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgEditProcessor';
        createDialog(dialogName, 'Edit Processor', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
    });

    function onConfirmOK() {
        var dialogName = '#dlgEditProcessor';
        var postBackUrl = '@Url.Action("EditDialog", "Processor")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#EditProcessorForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#EditProcessorErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {

    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#EditProcessorErrorField").html('');
    }
</script>