@model Figlut.Repeat.Web.Site.Models.GenerateCountryPublicHolidaysModel

<div id="dlgGenerateCountryPublicHolidays">
    <img src="~/Images/Icons/red-edit32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="GenerateCountryPublicHolidaysForm">
            @Html.ValidationSummary(true, "Failed to generate.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.CountryId)
                @Html.HiddenFor(m => m.CountryCode)
                @Html.HiddenFor(m => m.CountryName)
                <div class="field-label">
                    @Html.Raw("Country")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.CountryName, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.CountryName)
                </div>
                <div class="field-label">
                    @Html.Raw("Year")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Year)
                    @Html.ValidationMessageFor(m => m.Year)
                </div>
                <br />
                <div id="GenerateCountryPublicHolidaysErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgGenerateCountryPublicHolidays';
        createDialog(dialogName, 'Generate Country Public Holidays', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
        enableDatepickers();
    });

    function onConfirmOK() {
        var dialogName = '#dlgGenerateCountryPublicHolidays';
        var postBackUrl = '@Url.Action("GenerateCountryPublicHolidays", "PublicHoliday")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#GenerateCountryPublicHolidaysForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#GenerateCountryPublicHolidaysErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {

    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#GenerateCountryPublicHolidaysErrorField").html('');
    }
</script>