@model Figlut.Repeat.ORM.User

<div id="dlgResetPassword">
    <img src="~/Images/Icons/red-user-icon32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="ResetPaswordForm">
            @Html.ValidationSummary(true, "Failed to reset password.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.Password)
                @Html.HiddenFor(m => m.EmailAddress)
                @Html.HiddenFor(m => m.OrganizationId)
                @Html.HiddenFor(m => m.RoleId)
                @Html.HiddenFor(m => m.LastLoginDate)
                @Html.HiddenFor(m => m.LastActivityDate)
                @Html.HiddenFor(m => m.DateCreated)
                <div class="field-label">
                    @Html.Raw("User Name/Email Address")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.UserName, new { onkeypress = "return searchKeyPress(event)" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <br />
                <div id="ResetPasswordErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgResetPassword';
        createDialog(dialogName, 'Reset Password', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
    });

    function onConfirmOK() {
        var dialogName = '#dlgResetPassword';
        var postBackUrl = '@Url.Action("ResetPasswordDialog", "User")';
        var waitMessage = 'Resetting password and emailing it to you ...';
        showDialog(
            '#divWaitDialog',
            '#dlgWait',
            'WaitDialog',
            'User',
            'message',
            waitMessage);

        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#ResetPaswordForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    var informationMessage = data.ErrorMsg;
                    $(dialogName).dialog("close");
                    $('#dlgWait').dialog("close");
                    showDialog(
                        '#divInformationDialog',
                        '#dlgInformation',
                        'InformationDialog',
                        'User',
                        'message',
                        informationMessage);
                } else {
                    $('#dlgWait').dialog("close");
                    $("#ResetPasswordErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {
    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#ResetPasswordErrorField").html('');
    }

    function onConfirmResetPassword() {
        @*var dialogName = '#dlgResetPassword';
        var postBackUrl = '@Url.Action("LoginDialog", "User")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#ResetPaswordForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    var url = '@Url.Content("~/Home")'
                    window.location.href = url;
                } else {
                    $("#ResetPasswordErrorField").html(data.ErrorMsg);
                }
            }
        })*@
    }
</script>