@model Figlut.Repeat.Web.Site.Models.SendSmsModel
<div id="dlgSendSmsDialog">
    <img src="~/Images/Icons/red-mail-open-icon32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="SendSmsForm">
            @Html.ValidationSummary(true, "Send SMS failed.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.MaxSmsSendMessageLength)

                <div class="field-label">
                    @Html.Raw(string.Format("Cell Phone Number", Model.CellPhoneNumberSendSmsDialog))
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.CellPhoneNumberSendSmsDialog, new { onKeyPress = "return disableEnterKey(event)" })
                    @Html.ValidationMessageFor(m => m.MessageContentsSendSmsDialog)
                </div>

                @if (ViewBag.SmsMessageTemplateList != null)
                {
                    <div class="field-label">
                        @Html.Raw("SMS Message Templates")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("SmsMessageTemplateIdSendSms", ViewBag.SmsMessageTemplateList as List<SelectListItem>, new { @class = "drop-down-field", @onchange = "onSmsMessageTemplateSendSmsChanged()" })
                    </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.SmsMessageTemplateIdSendSms)
                }
                <div class="field-label">
                    @Html.Raw(string.Format("Message (max {0} characters)", Model.MaxSmsSendMessageLength))
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(m => m.MessageContentsSendSmsDialog, new { style = "height: 100px;width:80%", onKeyPress = "return disableEnterKey(event)" })
                    @Html.ValidationMessageFor(m => m.MessageContentsSendSmsDialog)
                </div>
                <br />
                <div id="SendSmsErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgSendSmsDialog';
        createDialog(dialogName, 'Send SMS', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 600);
        //$("#MessageContents").focus();
    });

    function onSmsMessageTemplateSendSmsChanged() {
        var smsMessageTemplate = $('#SmsMessageTemplateIdSendSms').val();
        $("#MessageContentsSendSmsDialog").val(smsMessageTemplate)
    }

    function onConfirmOK() {
        sendEnabled = false;

        var cellPhoneNumber = $("#CellPhoneNumberSendSmsDialog").val();
        var waitMessage = 'Sending SMS to ' + cellPhoneNumber + ' ...';
        var informationMessage = 'SMS sent successfully to ' + cellPhoneNumber + '.';

        $(".ui-dialog-buttonpane button:contains('OK')").hide();
        showDialog(
            '#divWaitDialog',
            '#dlgWait',
            'WaitDialog',
            'SmsSent',
            'message',
            waitMessage);

        var dialogName = '#dlgSendSmsDialog';
        var postBackUrl = '@Url.Action("SendSms", "SmsSent")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#SendSmsForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(".ui-dialog-buttonpane button:contains('OK')").show();
                    $('#dlgWait').dialog("close");
                    $(dialogName).dialog("close");
                    showDialog(
                        '#divInformationDialog',
                        '#dlgInformation',
                        'InformationDialog',
                        'SmsSent',
                        'message',
                        informationMessage);
                    $("#MessageContents").val('');
                    refreshSmsCreditsBalanceMenu();
                } else {
                    $('#dlgWait').dialog("close");
                    $(".ui-dialog-buttonpane button:contains('OK')").show();
                    $("#SendSmsErrorField").html(data.ErrorMsg);
                    sendEnabled = true;
                }
            }
        })
    };

    function onConfirmOpen() {
    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#SendSmsErrorField").html('');
    }
</script>