@model Figlut.Repeat.Web.Site.Models.FilterModel<SmsCampaignModel>

@using Figlut.Server.Toolkit.Data;
@using Figlut.Repeat.Web.Site.Configuration;
@using Figlut.Repeat.Web.Site;
@using Figlut.Repeat.Web.Site.Models;
@using Figlut.Repeat.Web.Site.Extensions;
@using Figlut.Repeat.ORM.Helpers;

@{
    Figlut.Repeat.Web.Site.Models.SmsCampaignModel smsCampaign = new SmsCampaignModel();
}
@{
    int smsCampaignsPerPageToDisplay = Convert.ToInt32(RepeatWebApp.Instance.GlobalSettings[GlobalSettingName.SmsCampaignsPerPageToDisplay].SettingValue);
    var grid = new WebGrid(Model.DataModel, canPage: true, rowsPerPage: smsCampaignsPerPageToDisplay, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.All);
}

<div id="gridContent" class="data-grid">
    <div id="gridWrapper">
        @Html.HiddenFor(p => p.ParentId)
        @Html.HiddenFor(p => p.ParentCaption)
        <div class="centerInformation" style="float:inherit; margin-top:1%; margin-bottom:1%;">
            <div class="grid-search">
                <table style="width:99%;">
                    <tr>
                        <td style="width:60%;">
                            <div class="search-text">
                                @Html.Raw("Search Text")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.EditorFor(m => m.SearchText)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid-buttons">
                <div style="float: left; margin-left:2%; margin-right:2%">
                    @Html.LinkButtonForSubmit("Search", "onSearchSmsCampaignsClick()", "btnSearch", "search.png")
                    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        @Html.LinkButtonForSubmit("Download", "onDownloadAllSmsCampaignsCsvFileClick()", "btnDownload", "spreadsheet.png")
                        if (grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
                        {
                            smsCampaign = (SmsCampaignModel)grid.Rows[grid.SelectedIndex].Value;
                            @Html.LinkButtonForSubmit("SMS Queue", "onViewCampaignSmsSentQueueItemsClick()", "btnViewCampaignSmsSentQueueItems", "red-mail-open-icon32.png")
                            @Html.LinkButtonForSubmit("SMS Sent", "onViewSmsSentClick()", "btnViewSmsSent", "red-mail-send-icon32.png")
                        }
                    }
                </div>
                <div style="float: right; margin-left:2%; margin-right:2%">
                    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        @Html.LinkButtonForCancel("Delete All", "onDeleteAllSmsCampaignsClick()", "btnDeleteAllSmsCampaigns")
                        if (grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
                        {
                            smsCampaign = (SmsCampaignModel)grid.Rows[grid.SelectedIndex].Value;
                            @Html.LinkButtonForCancel("Delete", "onDeleteSmsCampaignClick()", "btnDeleteSmsCampaign")
                            @Html.LinkButtonForSubmit("Edit", "onEditSmsCampaignClick()", "btnEditSmsCampaign", "red-edit.png")
                        }
                    }
                </div>
            </div>
        </div>
        <div class="sms-campaign-preview">
            @if (Model.IsAdministrator && grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
            {
                smsCampaign = (SmsCampaignModel)grid.Rows[grid.SelectedIndex].Value;
                <div style="float:left; margin-left:2%; margin-right:2%;">
                    <b>@Html.Raw(string.Format("ID: {0}", smsCampaign.SmsCampaignId.ToString()))</b>
                </div>
            }
            <div style="float: right; margin-left:2%; margin-right:2%">
                <b>@Html.Raw(string.Format("SMS Campaigns Loaded: {0} of {1}", Model.TotalCount.ToString(), Model.TotalTableCount.ToString()))</b>
            </div>
        </div>
        <div id="gridTableContainer">
            @grid.GetHtml(
                tableStyle: "webGrid",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("Campaigns", format: (item) => item.GetSelectLink("*"), style: "select-column-style"),
                grid.Column(EntityReader<SmsCampaignModel>.GetPropertyName(p => p.Name, false), "Name"),
                grid.Column(EntityReader<SmsCampaignModel>.GetPropertyName(p => p.OrganizationSelectedCode, false), "Organization Selected Code"),
                grid.Column(EntityReader<SmsCampaignModel>.GetPropertyName(p => p.SmsSentQueueItemCount, false), "SMS' in Send Queue"),
                grid.Column(EntityReader<SmsCampaignModel>.GetPropertyName(p => p.SmsSentCount, false), "SMS' Sent"),
                grid.Column(EntityReader<SmsCampaignModel>.GetPropertyName(p => p.DateCreated, false), "Date Created")
            ))
        </div>
        <div class="sms-campaign-preview">
            @if (grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
            {
                smsCampaign = (SmsCampaignModel)grid.Rows[grid.SelectedIndex].Value;
                <div style="float: left; margin-left:2%; margin-right:2%">
                    <b>@Html.Raw(string.Format("Name: {0}", smsCampaign.Name))</b>   
                </div>
                <div style="float:right; margin-left:2%; margin-right:2%; color: #a30e0e;">
                    @Html.Raw(string.Format("{0}", smsCampaign.MessageContents))
                </div>
            }
        </div>
    </div>
    <div id="SmsCampaignErrorField" style="color:#8A0808">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <br />
            @Html.Raw(ViewBag.ErrorMessage)
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SearchText").focus();
        makeGridRowsPostForm();
        enableDatepickers();
    });

    function onSearchSmsCampaignsClick() {
        postSmsCampaigns();
    }

    function onDeleteSmsCampaignClick() {
        showDialog(
            '#divConfirmationDialog',
            '#dlgConfirmation',
            'ConfirmDeleteDialog',
            'SmsCampaign',
            'identifier',
            '@smsCampaign.SmsCampaignId.ToString()');
    };

    function onEditSmsCampaignClick() {
        showDialog(
            '#divEditSmsCampaign',
            '#dlgEditSmsCampaign',
            'EditDialog',
            'SmsCampaign',
            'smsCampaignId',
            '@smsCampaign.SmsCampaignId.ToString()');
    };

    function getSearchParametersString() {
        var searchParameters = '@string.Format("{0}|{1}|{2}|{3}",
        Model.SearchText != null ? Model.SearchText : string.Empty,
        Model.StartDate.HasValue ? Model.StartDate.Value.Date.ToString() : string.Empty,
        Model.EndDate.HasValue ? Model.EndDate.Value.Date.ToString() : string.Empty,
        Model.ParentId.ToString())'
        return searchParameters;
    }

    function onDeleteAllSmsCampaignsClick() {
        var searchParameters = getSearchParametersString();
        showDialog(
            '#divConfirmationDialog',
            '#dlgConfirmation',
            'ConfirmDeleteAllDialog',
            'SmsCampaign',
            'searchParametersString',
            searchParameters);
    }

    function onDownloadAllSmsCampaignsCsvFileClick() {
        var searchParameters = getSearchParametersString();
        var downloadUrl = '@Url.Action("DownloadCsvFile", "SmsCampaign", new { searchParametersString = "_searchValue" })';
        downloadUrl = downloadUrl.replace('_searchValue', searchParameters);
        window.location = downloadUrl;
    }

    function onViewCampaignSmsSentQueueItemsClick() {
        var selectedSmsCampaignId = '@smsCampaign.SmsCampaignId';
        var downloadUrl = '@Url.Action("Index", "SmsSentQueueItem", new { smsCampaignId = "_smsCampaignId" })';
        downloadUrl = downloadUrl.replace('_smsCampaignId', selectedSmsCampaignId);
        window.location = downloadUrl;
    }

    function onViewSmsSentClick() {
        var selectedSmsCampaignId = '@smsCampaign.SmsCampaignId';
        var downloadUrl = '@Url.Action("Index", "SmsSent", new { smsCampaignId = "_smsCampaignId" })';
        downloadUrl = downloadUrl.replace('_smsCampaignId', selectedSmsCampaignId);
        window.location = downloadUrl;
    }

    function postSmsCampaigns() {
        $('form#frmDetails').trigger('submit');
    };

</script>