@model Figlut.Repeat.Web.Site.Models.FilterModel<SmsMessageTemplateModel>

@using Figlut.Server.Toolkit.Data;
@using Figlut.Repeat.Web.Site.Configuration;
@using Figlut.Repeat.Web.Site;
@using Figlut.Repeat.Web.Site.Models;
@using Figlut.Repeat.Web.Site.Extensions;
@using Figlut.Repeat.ORM.Helpers;

@{
    Figlut.Repeat.Web.Site.Models.SmsMessageTemplateModel smsMessageTemplate = new SmsMessageTemplateModel();
}
@{
    int smsMessageTemplatesPerPageToDisplay = Convert.ToInt32(RepeatWebApp.Instance.GlobalSettings[GlobalSettingName.SmsMessageTemplatesPerPagePageToDisplay].SettingValue);
    var grid = new WebGrid(Model.DataModel, canPage: true, rowsPerPage: smsMessageTemplatesPerPageToDisplay, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.All);
}

<div id="gridContent" class="data-grid">
    <div id="gridWrapper">
        @Html.HiddenFor(p => p.ParentId)
        @Html.HiddenFor(p => p.ParentCaption)
        <div class="centerInformation" style="float:inherit; margin-top:1%; margin-bottom:1%;">
            <div class="grid-search">
                <table style="width:99%;">
                    <tr>
                        <td style="width:60%;">
                            <div class="search-text">
                                @Html.Raw("Search Text")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.EditorFor(m => m.SearchText)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid-buttons">
                <div style="float: left; margin-left:2%; margin-right:2%">
                    @Html.LinkButtonForSubmit("Search", "onSearchSmsMessageTemplatesClick()", "btnSearch", "search.png")
                    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        @Html.LinkButtonForSubmit("Download", "onDownloadAllSmsMessageTemplatesCsvFileClick()", "btnDownload", "spreadsheet.png")
                    }
                </div>
                <div style="float: right; margin-left:2%; margin-right:2%">
                    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        @Html.LinkButtonForSubmit("Create", "onCreateSmsMessageTemplateClick()", "btnCreateSmsMessageTemplate", "red-document-plus-icon32.png")
                        @Html.LinkButtonForCancel("Delete All", "onDeleteAllSmsMessageTemplatesClick()", "btnDeleteAllSmsMessageTemplates")
                        if (grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
                        {
                            smsMessageTemplate = (SmsMessageTemplateModel)grid.Rows[grid.SelectedIndex].Value;
                            @Html.LinkButtonForCancel("Delete", "onDeleteSmsMessageTemplateClick()", "btnDeleteSmsMessageTemplate")
                            @Html.LinkButtonForSubmit("Edit", "onEditSmsMessageTemplateClick()", "btnEditSmsMessageTemplate", "red-edit.png")
                        }
                    }
                </div>
            </div>
        </div>
        <div class="sms-message-template-preview">
            @if (Model.IsAdministrator && grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
            {
                smsMessageTemplate = (SmsMessageTemplateModel)grid.Rows[grid.SelectedIndex].Value;
                <div style="float:left; margin-left:2%; margin-right:2%;">
                    <b>@Html.Raw(string.Format("ID: {0}", smsMessageTemplate.SmsMessageTemplateId.ToString()))</b>
                </div>
            }
            <div style="float: right; margin-left:2%; margin-right:2%">
                <b>@Html.Raw(string.Format("SMS Message Templates Loaded: {0} of {1}", Model.TotalCount.ToString(), Model.TotalTableCount.ToString()))</b>
            </div>
        </div>
        <div id="gridTableContainer">
            @grid.GetHtml(
                tableStyle: "webGrid",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("Templates", format: (item) => item.GetSelectLink("*"), style: "select-column-style"),
                grid.Column(EntityReader<SmsMessageTemplateModel>.GetPropertyName(p => p.Message, false), "Message"),
                grid.Column(EntityReader<SmsMessageTemplateModel>.GetPropertyName(p => p.OrganizationName, false), "Organization")
            ))
        </div>
        <div class="sms-message-template-preview">
            @if (grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
            {
                smsMessageTemplate = (SmsMessageTemplateModel)grid.Rows[grid.SelectedIndex].Value;
                <div style="float: left; margin-left:2%; margin-right:2%">
                    <b>@Html.Raw(string.Format("Message: {0}", smsMessageTemplate.Message))</b>
                </div>
                <div style="float:right; margin-left:2%; margin-right:2%; color: #a30e0e;">
                    @Html.Raw(string.Format("{0}", smsMessageTemplate.OrganizationName))
                </div>
            }
        </div>
    </div>
    <div id="SmsMessageTemplateErrorField" style="color:#8A0808">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <br />
            @Html.Raw(ViewBag.ErrorMessage)
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SearchText").focus();
        makeGridRowsPostForm();
    });

    function onSearchSmsMessageTemplatesClick() {
        postSmsMessageTemplates();
    }

    function onDeleteSmsMessageTemplateClick() {
        showDialog(
            '#divConfirmationDialog',
            '#dlgConfirmation',
            'ConfirmDeleteDialog',
            'SmsMessageTemplate',
            'identifier',
            '@smsMessageTemplate.SmsMessageTemplateId.ToString()');
    };

    function onEditSmsMessageTemplateClick() {
        showDialog(
            '#divEditSmsMessageTemplate',
            '#dlgEditSmsMessageTemplate',
            'EditDialog',
            'SmsMessageTemplate',
            'smsMessageTemplateId',
            '@smsMessageTemplate.SmsMessageTemplateId.ToString()');
    };

    function onCreateSmsMessageTemplateClick() {
        showDialog(
            '#divCreateSmsMessageTemplate',
            '#dlgCreateSmsMessageTemplate',
            'CreateDialog',
            'SmsMessageTemplate',
            'organizationId',
            '@Model.ParentId.ToString()');
    };

    function getSearchParametersString() {
        var searchParameters = '@string.Format("{0}|{1}|{2}|{3}",
        Model.SearchText != null ? Model.SearchText : string.Empty,
        Model.StartDate.HasValue ? Model.StartDate.Value.Date.ToString() : string.Empty,
        Model.EndDate.HasValue ? Model.EndDate.Value.Date.ToString() : string.Empty,
        Model.ParentId.ToString())'
        return searchParameters;
    }

    function onDeleteAllSmsMessageTemplatesClick() {
        var searchParameters = getSearchParametersString();
        showDialog(
            '#divConfirmationDialog',
            '#dlgConfirmation',
            'ConfirmDeleteAllDialog',
            'SmsMessageTemplate',
            'searchParametersString',
            searchParameters);
    }

    function onDownloadAllSmsMessageTemplatesCsvFileClick() {
        var searchParameters = getSearchParametersString();
        var downloadUrl = '@Url.Action("DownloadCsvFile", "SmsMessageTemplate", new { searchParametersString = "_searchValue" })';
        downloadUrl = downloadUrl.replace('_searchValue', searchParameters);
        window.location = downloadUrl;
    }

    function postSmsMessageTemplates() {
        $('form#frmDetails').trigger('submit');
    };

</script>