@model Figlut.Repeat.Web.Site.Models.CaptureSubscriberQueryDetailsModel

@using Figlut.Repeat.Web.Site.Configuration;
@using Figlut.Repeat.Web.Site.Extensions;
@using Figlut.Repeat.ORM.Helpers;

@{
    ViewBag.Title = RepeatWebApp.Instance.Settings.ApplicationName;
    ViewBag.PageTitle = "My Subscriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
}

@{
    string organizationIdentifierIndicator = RepeatWebApp.Instance.GlobalSettings[GlobalSettingName.OrganizationIdentifierIndicator].SettingValue;
    string subscriberNameIndicator = RepeatWebApp.Instance.GlobalSettings[GlobalSettingName.SubscriberNameIndicator].SettingValue;
}

<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-balloon-plus-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
            <a href="" style="float:right">My Subscriptions</a>
        </li>
    </ul>
</nav>
<hr />

<div class="centerForm">
    <form id="ViewSubscriberSubscriptionsForm">
        @Html.ValidationSummary("View subscriptions failed.")
        <div class="description">
            <i>
                Organizations all around South Africa use Figlut to send SMS notifications to their subscribers.
                <br />
                In order to subscribe to any organization registered with Figlut: 
                <br />
                <br />
                SMS the '<b>@Html.Raw(organizationIdentifierIndicator)</b>' character followed by the <b>Organization's unique identifier </b> to the Figlut cell number: <b>+27(0)87 240 5099</b>
                <br />
                You may optionally include a <b>@Html.Raw(subscriberNameIndicator)</b> character followed by your name for us to know who you are.
                <br />
                <br />
                e.g. If your name is John and you'd like to subscribe to notifications from "MyOrganization", then SMS:
                <br />
                <b>@Html.Raw(organizationIdentifierIndicator)MyOrganization @Html.Raw(subscriberNameIndicator)john</b> to <b>+27(0)87 240 5099</b>
                <br />
                <br />
            </i>
            <i>Enter your own cell phone number below to view and manage your existing subscriptions.</i>
        </div>
        <br />
        <fieldset>
            <legend>User</legend>
            <div class="field-label">
                @Html.Raw("Cell Phone Number")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.SubscriberCellPhoneNumber, new { onkeydown = "return searchKeyPress(event)", style = "width:50%" })
                @Html.ValidationMessageFor(m => m.SubscriberCellPhoneNumber)
            </div>
            <div class="buttons">
                @Html.LinkButtonForSubmit("View", "onViewClick()", "btnView")
                @Html.LinkButtonForCancel("Cancel", "onViewCancelClick()", "btnCancel")
            </div>
            <div id="ViewSubscriberSubscriptionsErrorField" style="color:#8A0808"></div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#SubscriberCellPhoneNumber").focus();
        $(document).keypress(function (event) {
            if (event.which == 13) {
                $("#btnView").click();
                return false;
            }
        });
    });

    function searchKeyPress(e) {
        // look for window.event in case event isn't passed in
        e = e || window.event;
        if (e.keyCode == 13) {
            document.getElementById('btnView').click();
            return false;
        }
        return true;
    }

    function onViewClick() {
        $.ajax({
            url: '@Url.Action("ViewSubscriberSubscriptions", "SubscriberSubscription")',
            type: 'POST',
            data: $("#ViewSubscriberSubscriptionsForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    var subscriberId = data.SubscriberId;
                    var url = '@Url.Action("Index", "SubscriberSubscription", new {subscriberId = "_subscriberId"})';
                    url = url.replace('_subscriberId', subscriberId);
                    window.location.href = url;

                } else {
                    $("#ViewSubscriberSubscriptionsErrorField").html(data.ErrorMsg);
                }
            }
        });
    };

    function onViewCancelClick() {
        var url = '@Url.Content("~/Home")';
        window.location.href = url;
    };
</script>