@model Figlut.Spread.Web.Site.Models.CreateScheduleModel

<div id="dlgCreateSchedule">
    <img src="~/Images/Icons/red-document-plus-icon32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="CreateScheduleForm">
            @Html.ValidationSummary(true, "Failed to create.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.SubscriptionId)
                @Html.HiddenFor(m => m.OrganizationId)
                @Html.HiddenFor(m => m.SubscriberId)
                @Html.HiddenFor(m => m.SubscriptionEnabled)
                @Html.HiddenFor(m => m.CustomerFullName)
                @Html.HiddenFor(m => m.CustomerIdentifier)
                @Html.HiddenFor(m => m.CustomerPhysicalAddress)
                @Html.HiddenFor(m => m.SubscriptionDateCreated)
                @Html.HiddenFor(m => m.CellPhoneNumber)
                @Html.HiddenFor(m => m.SubscriberEnabled)
                @Html.HiddenFor(m => m.SubscriberDateCreated)
                @Html.HiddenFor(m => m.OrganizationName)
                @Html.HiddenFor(m => m.OrganizationIdentifier)
                @Html.HiddenFor(m => m.OrganizationEmailAddress)
                @Html.HiddenFor(m => m.OrganizationAddress)
                @Html.HiddenFor(m => m.OrganizationSmsCreditsBalance)
                @Html.HiddenFor(m => m.OrganizationAllowSmsCreditsDebt)
                @Html.HiddenFor(m => m.OrganizationSubscriptionTypeId)
                @Html.HiddenFor(m => m.OrganizationSubscriptionEnabled)
                @Html.HiddenFor(m => m.OrganizationBillingDayOfTheMonth)
                @Html.HiddenFor(m => m.AccountManagerUserId)
                @Html.HiddenFor(m => m.OrganizationDateCreated)
                @Html.HiddenFor(m => m.CountryId)
                @Html.HiddenFor(m => m.MaxSmsSendMessageLength)

                @if (ViewBag.SmsMessageTemplateList != null)
                {
                    <div class="field-label">
                        @Html.Raw("SMS Message Templates")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("SmsMessageTemplateIdCreate", ViewBag.SmsMessageTemplateList as List<SelectListItem>, new { @class = "drop-down-field", @onchange = "onSmsMessageTemplateCreateChanged()" })
                    </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.SmsMessageTemplateIdCreate)
                }
                <div class="field-label">
                    @Html.Raw(string.Format("Notification Message (max {0} characters) *", Model.MaxSmsSendMessageLength))
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.NotificationMessageCreate)
                    @Html.ValidationMessageFor(m => m.NotificationMessageCreate)
                </div>
                <div class="field-label">
                    @Html.Raw("Schedule Name *")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.ScheduleName)
                    @Html.ValidationMessageFor(m => m.ScheduleName)
                </div>
                <div class="field-label">
                    @Html.Raw("Days Repeat Interval *")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.DaysRepeatInterval, new { @type = "number" })
                    @Html.ValidationMessageFor(m => m.DaysRepeatInterval)
                </div>
                <div class="field-label">
                    @Html.Raw("Quantity")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Quantity, new { @type = "number" })
                    @Html.ValidationMessageFor(m => m.Quantity)
                </div>
                <div class="field-label">
                    @Html.Raw("Unit of measure")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.UnitOfMeasure)
                    @Html.ValidationMessageFor(m => m.UnitOfMeasure)
                </div>
                <div class="field-label">
                    @Html.Raw("Notes")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Notes)
                    @Html.ValidationMessageFor(m => m.Notes)
                </div>
                <hr />
                <div class="field-label">
                    @Html.Raw("Create Schedule Entries")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.CreateScheduleEntries, new SelectList(
                        new[]
                        {
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.CreateScheduleEntries, "Is Monday Working Day is required.")
                </div>
                <div class="field-label">
                    @Html.Raw("Exclude Non-working Days")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.ExcludeNonWorkingDays, new SelectList(
                        new[]
                        {
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.ExcludeNonWorkingDays, "Is Monday Working Day is required.")
                </div>
                <div class="field-label">
                    @Html.Raw("Exclude Public Holidays Days")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.ExcludePublicHolidays, new SelectList(
                        new[]
                        {
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.ExcludePublicHolidays, "Is Monday Working Day is required.")
                </div>
                <hr />
                <div class="field-label">
                    @Html.Raw("Start Date")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.StartDateCreate, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.StartDateCreate)
                </div>
                <div class="field-label">
                    @Html.Raw("End Date")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.EndDateCreate, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.EndDateCreate)
                </div>
                <div class="field-label">
                    @Html.Raw("Monday (working Day)?")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.IsMondayWorkDay, new SelectList(
                        new[]
                        {
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.IsMondayWorkDay, "Is Monday Working Day is required.")
                </div>
                <div class="field-label">
                    @Html.Raw("Tuesday (working Day)?")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.IsTuesdayWorkDay, new SelectList(
                        new[]
                        {
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.IsTuesdayWorkDay, "Is Tuesday Working Day is required.")
                </div>
                <div class="field-label">
                    @Html.Raw("Wednesday (working Day)?")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.IsWednesdayWorkDay, new SelectList(
                        new[]
                        {
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.IsWednesdayWorkDay, "Is Wednesday Working Day is required.")
                </div>
                <div class="field-label">
                    @Html.Raw("Thursday (working Day)?")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.IsThursdayWorkDay, new SelectList(
                        new[]
                        {
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.IsThursdayWorkDay, "Is Thursday Working Dayis required.")
                </div>
                <div class="field-label">
                    @Html.Raw("Friday (working Day)?")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.IsFridayWorkDay, new SelectList(
                        new[]
                        {
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.IsFridayWorkDay, "Is Friday Working Dayis required.")
                </div>
                <div class="field-label">
                    @Html.Raw("Saturday (working Day)?")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.IsSaturdayWorkDay, new SelectList(
                        new[]
                        {
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.IsSaturdayWorkDay, "Is Saturday Working Day is required.")
                </div>
                <div class="field-label">
                    @Html.Raw("Sunday (working Day)?")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.IsSundayWorkDay, new SelectList(
                        new[]
                        {
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ),
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.IsSundayWorkDay, "Is Sunday Working Day is required.")
                </div>
                <br />
                <div id="CreateScheduleErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgCreateSchedule';
        createDialog(dialogName, 'Create Schedule', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 600);
        enableDatepickers();
    });

    function onSmsMessageTemplateCreateChanged() {
        var smsMessageTemplate = $('#SmsMessageTemplateIdCreate').val();
        $("#NotificationMessageCreate").val(smsMessageTemplate)
    }

    function onConfirmOK() {
        var dialogName = '#dlgCreateSchedule';
        var postBackUrl = '@Url.Action("CreateDialog", "Schedule")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#CreateScheduleForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#CreateScheduleErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {
    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#CreateScheduleErrorField").html('');
    }
</script>