@model Figlut.Spread.Web.Site.Models.PublicHolidayModel

<div id="dlgCreatePublicHoliday">
    <img src="~/Images/Icons/red-document-plus-icon32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="CreatePublicHolidayForm">
            @Html.ValidationSummary(true, "Failed to create.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.PublicHolidayId)
                @Html.HiddenFor(m => m.CountryId)
                @Html.HiddenFor(m => m.DateIdentifier)
                @Html.HiddenFor(m => m.Year)
                @Html.HiddenFor(m => m.Month)
                @Html.HiddenFor(m => m.Day)
                @Html.HiddenFor(m => m.DateCreated)
                <div class="field-label">
                    @Html.Raw("Event Name")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.EventName)
                    @Html.ValidationMessageFor(m => m.EventName)
                </div>
                <div class="field-label">
                    @Html.Raw("Holiday Date")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.HolidayDateCreate, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.HolidayDateCreate)
                </div>
                <br />
                <div id="CreatePublicHolidayErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgCreatePublicHoliday';
        createDialog(dialogName, 'Create Public Holiday', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
        enableDatepickers();
    });

    function onConfirmOK() {
        var dialogName = '#dlgCreatePublicHoliday';
        var postBackUrl = '@Url.Action("CreateDialog", "PublicHoliday")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#CreatePublicHolidayForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#CreatePublicHolidayErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {
        
    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#CreatePublicHolidayErrorField").html('');
    }
</script>