@model Figlut.Spread.Web.Site.Models.OrganizationModel

<div id="dlgEditOrganization">
    <img src="~/Images/Icons/red-edit32.png" style="float:right; margin-right:1%; margin-left:1%"/>
    <div class="centerForm">
        <form id="EditOrganizationForm">
            @Html.ValidationSummary(true, "Failed to edit.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.OrganizationId)
                @Html.HiddenFor(m => m.DateCreated)
                <div class="field-label">
                    @Html.Raw("Name")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="field-label">
                    @Html.Raw("Identifier")
                </div>
                <div class="editor-field-dialog">
                    @Html.EditorFor(m => m.Identifier)
                    @Html.ValidationMessageFor(m => m.Identifier)
                </div>
                <div class="field-label">
                    @Html.Raw("Email Address")
                </div>
                <div class="editor-field-dialog">
                    @Html.EditorFor(m => m.EmailAddress)
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </div>
                <div class="field-label">
                    @Html.Raw("Address")
                </div>
                <div class="editor-field-dialog">
                    @Html.EditorFor(m => m.Address)
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
                <div class="field-label">
                    @Html.Raw("SMS Credits Balance")
                </div>
                <div class="editor-field-dialog">
                    @Html.EditorFor(m => m.SmsCreditsBalance)
                    @Html.ValidationMessageFor(m => m.SmsCreditsBalance)
                </div>
                <div class="field-label">
                    @Html.Raw("Allow SMS Credits Debt")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.AllowSmsCreditsDebt, new SelectList(
                        new[] 
                        { 
                            new { Value = "true", Text = "Yes" },
                            new { Value = "false", Text = "No" },
                        },
                        "Value",
                        "Text",
                        Model
                    ), 
                    new { @class = "drop-down-field" })
                    @Html.ValidationMessageFor(m => m.AllowSmsCreditsDebt, "SMS Contents Trim On Grid is required.")
                </div>
                <br />
                <div id="EditOrganizationErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgEditOrganization';
        createDialog(dialogName, 'Edit Organization', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
    });

    function onConfirmOK() {
        var dialogName = '#dlgEditOrganization';
        var postBackUrl = '@Url.Action("EditDialog", "Organization")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#EditOrganizationForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#EditOrganizationErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {

    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#EditOrganizationErrorField").html('');
    }
</script>