@model Figlut.Spread.Web.Site.Models.EditUserPasswordModel

<div id="dlgEditUserPassword">
    <img src="~/Images/Icons/red-unlock-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
    <div class="centerForm">
        <form id="EditUserPasswordForm">
            @Html.ValidationSummary(true, "Failed to edit.")
            <fieldset>
                <legend>Edit Password</legend>
                @Html.HiddenFor(m => m.UserId)
                <div class="field-label">
                    @Html.Raw("User Name")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.UserName, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="field-label">
                    @Html.Raw("New Password")
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="field-label">
                    @Html.Raw("Confirm New Password")
                </div>
                <div class="editor-field-dialog">
                    @Html.PasswordFor(m => m.ConfirmNewPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                </div>
                <br />
                <div id="EditUserPasswordErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgEditUserPassword';
        createDialog(dialogName, 'Edit User Password', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
    });

    function onConfirmOK() {
        var dialogName = '#dlgEditUserPassword';
        var postBackUrl = '@Url.Action("EditUserPasswordDialog", "User")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#EditUserPasswordForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#EditUserPasswordErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {

    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#EditUserPasswordErrorField").html('');
    }
</script>