@model Figlut.Spread.Web.Site.Models.SmsCampaignModel
<div id="dlgEditSmsCampaign">
    <img src="~/Images/Icons/red-edit32.png" style="float:right; margin-right:1%; margin-left:1%"/>
    <div class="centerForm">
        <form id="EditSmsCampaignForm">
            @Html.ValidationSummary(true, "Failed to edit.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.SmsCampaignId)
                @Html.HiddenFor(m => m.MessageContents)
                @Html.HiddenFor(m => m.OrganizationId)
                @Html.HiddenFor(m => m.DateCreated)

                <div class="field-label">
                    @Html.Raw("Name")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="field-label">
                    @Html.Raw("Organization Selected Code")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.OrganizationSelectedCode)
                    @Html.ValidationMessageFor(m => m.OrganizationSelectedCode)
                </div>
                <div class="field-label">
                    @Html.Raw("Message Contents")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.MessageContents, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.MessageContents)
                </div>
                <br />
                <div id="EditSmsCampaignErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgEditSmsCampaign';
        createDialog(dialogName, 'Edit SMS Campaign', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
    });

    function onConfirmOK() {
        var dialogName = '#dlgEditSmsCampaign';
        var postBackUrl = '@Url.Action("EditDialog", "SmsCampaign")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#EditSmsCampaignForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#EditSmsCampaignErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {

    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#EditSmsCampaignErrorField").html('');
    }
</script>