@model Figlut.Spread.Web.Site.Models.RepeatScheduleModel

<div id="dlgEditRepeatSchedule">
    <img src="~/Images/Icons/red-document-plus-icon32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="EditRepeatScheduleForm">
            @Html.ValidationSummary(true, "Failed to edit.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.RepeatScheduleId)
                @Html.HiddenFor(m => m.SubscriptionId)
                @Html.HiddenFor(m => m.DaysRepeatInterval)
                @Html.HiddenFor(m => m.DateCreated)
                @Html.HiddenFor(m => m.OrganizationId)
                @Html.HiddenFor(m => m.SubscriberId)
                @Html.HiddenFor(m => m.SubscriptionEnabled)
                @Html.HiddenFor(m => m.CustomerFullName)
                @Html.HiddenFor(m => m.CustomerIdentifier)
                @Html.HiddenFor(m => m.CustomerPhysicalAddress)
                @Html.HiddenFor(m => m.CustomerNotes)
                @Html.HiddenFor(m => m.SubscriptionDateCreated)
                @Html.HiddenFor(m => m.CellPhoneNumber)
                @Html.HiddenFor(m => m.SubscriberName)
                @Html.HiddenFor(m => m.SubscriberEnabled)

                <div class="field-label">
                    @Html.Raw("Notification Message *")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.NotificationMessage)
                    @Html.ValidationMessageFor(m => m.NotificationMessage)
                </div>
                <div class="field-label">
                    @Html.Raw("Schedule Name *")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.ScheduleName)
                    @Html.ValidationMessageFor(m => m.ScheduleName)
                </div>
                <div class="field-label">
                    @Html.Raw("Quantity")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Quantity, new { @type = "number" })
                    @Html.ValidationMessageFor(m => m.Quantity)
                </div>
                <div class="field-label">
                    @Html.Raw("Unit of measure")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.UnitOfMeasure)
                    @Html.ValidationMessageFor(m => m.UnitOfMeasure)
                </div>
                <div class="field-label">
                    @Html.Raw("Notes")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Notes)
                    @Html.ValidationMessageFor(m => m.Notes)
                </div>
                <br />
                <div id="EditRepeatScheduleErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgEditRepeatSchedule';
        createDialog(dialogName, 'Edit Repeat Schedule', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
        enableDatepickers();
    });

    function onConfirmOK() {
        var dialogName = '#dlgEditRepeatSchedule';
        var postBackUrl = '@Url.Action("EditDialog", "RepeatSchedule")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#EditRepeatScheduleForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#EditRepeatScheduleErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {
    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#EditRepeatScheduleErrorField").html('');
    }
</script>