@model Figlut.Spread.Web.Site.Models.UserModel

<div id="dlgEditUser">
    <img src="~/Images/Icons/red-edit32.png" style="float:right; margin-right:1%; margin-left:1%"/>
    <div class="centerForm">
        <form id="EditUserForm">
            @Html.ValidationSummary(true, "Failed to edit.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.UserPassword)
                @Html.HiddenFor(m => m.OrganizationId)
                @Html.HiddenFor(m => m.LastLoginDate)
                @Html.HiddenFor(m => m.LastActivityDate)
                @Html.HiddenFor(m => m.DateCreated)
                <div class="field-label">
                    @Html.Raw("User Name *")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="field-label">
                    @Html.Raw("Email Address *")
                </div>
                <div class="editor-field-dialog">
                    @Html.EditorFor(m => m.UserEmailAddress)
                    @Html.ValidationMessageFor(m => m.UserEmailAddress)
                </div>
                <div class="field-label">
                    @Html.Raw("Cell Phone Number *")
                </div>
                <div class="editor-field-dialog">
                    @Html.EditorFor(m => m.UserCellPhoneNumber)
                    @Html.ValidationMessageFor(m => m.UserCellPhoneNumber)
                </div>
                @if (ViewBag.UserRolesList != null)
                {
                    <div class="field-label">
                        @Html.Raw("Role *")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("Role", ViewBag.UserRolesList as List<SelectListItem>, new { @class = "drop-down-field" })
                    </div>
                }
                <br />
                <div id="EditUserErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgEditUser';
        createDialog(dialogName, 'Edit User', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
    });

    function onConfirmOK() {
        var dialogName = '#dlgEditUser';
        var postBackUrl = '@Url.Action("EditDialog", "User")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#EditUserForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#EditUserErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {

    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#EditUserErrorField").html('');
    }
</script>