@model Figlut.Spread.Web.Site.Models.FilterModel<OrganizationModel>

@using Figlut.Server.Toolkit.Data;
@using Figlut.Spread.Web.Site.Configuration;
@using Figlut.Spread.Web.Site;
@using Figlut.Spread.Web.Site.Models;
@using Figlut.Spread.Web.Site.Extensions;
@using Figlut.Spread.ORM.Helpers;

@{
    Figlut.Spread.Web.Site.Models.OrganizationModel organization = new OrganizationModel();
}
@{
    int organizationsPerPageToDisplay = Convert.ToInt32(SpreadWebApp.Instance.GlobalSettings[GlobalSettingName.OrganizationsPerPageToDisplay].SettingValue);
    var grid = new WebGrid(Model.DataModel, canPage: true, rowsPerPage: organizationsPerPageToDisplay, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.All);
}

<div id="gridContent" class="data-grid">
    <div id="gridWrapper">
        <div class="centerInformation" style="float:inherit; margin-top:1%; margin-bottom:1%;">
            <div class="grid-search">
                <table style="width:99%;">
                    <tr>
                        <td style="width:60%;">
                            <div class="search-text">
                                @Html.Raw("Search Text")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.EditorFor(m => m.SearchText)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid-buttons">
                <div style="float: left; margin-left:2%; margin-right:2%">
                    @Html.LinkButtonForSubmit("Search", "onSearchOrganizationsClick()", "btnSearch", "search.png")
                    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        @Html.LinkButtonForSubmit("Download", "onDownloadAllOrganizationsCsvFileClick()", "btnDownload", "spreadsheet.png")
                        if (grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
                        {
                            organization = (OrganizationModel)grid.Rows[grid.SelectedIndex].Value;
                            @Html.LinkButtonForSubmit("Subscriptions", "onViewOrganizationSubscriptionsClick()", "btnViewOrganizationSubscriptions", "red-balloon-plus-icon32.png")
                            @Html.LinkButtonForSubmit("Users", "onViewOrganizationUsersClick()", "btnViewOrganizationUsers", "red-user-icon32.png")
                        }
                    }
                </div>
                <div style="float: right; margin-left:2%; margin-right:2%">
                    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        @Html.LinkButtonForSubmit("Create", "onCreateOrganizationClick()", "btnCreateOrganization", "red-document-plus-icon32.png")
                        @Html.LinkButtonForCancel("Delete All", "onDeleteAllOrganizationsClick()", "btnDeleteAllOrganizations")
                        if (grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
                        {
                            organization = (OrganizationModel)grid.Rows[grid.SelectedIndex].Value;
                            @Html.LinkButtonForCancel("Delete", "onDeleteOrganizationClick()", "btnDeleteOrganization")
                            @Html.LinkButtonForSubmit("Edit", "onEditOrganizationClick()", "btnEditOrganization", "red-edit.png")
                        }
                    }
                </div>
            </div>
        </div>
        <div class="organization-preview">
            @if (Model.IsAdministrator && grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
            {
                organization = (OrganizationModel)grid.Rows[grid.SelectedIndex].Value;
                <div style="float:left; margin-left:2%; margin-right:2%;">
                    <b>@Html.Raw(string.Format("ID: {0}", organization.OrganizationId.ToString()))</b>
                </div>
            }
            <div style="float: right; margin-left:2%; margin-right:2%">
                <b>@Html.Raw(string.Format("Organizations Loaded: {0} of {1}", Model.TotalCount.ToString(), Model.TotalTableCount.ToString()))</b>
            </div>
        </div>
        <div id="gridTableContainer">
            @grid.GetHtml(
                tableStyle: "webGrid",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("Organizations", format: (item) => item.GetSelectLink("*"), style: "select-column-style"),
                grid.Column(EntityReader<OrganizationModel>.GetPropertyName(p => p.Name, false), "Name"),
                grid.Column(EntityReader<OrganizationModel>.GetPropertyName(p => p.Identifier, false), "Identifier"),
                grid.Column(EntityReader<OrganizationModel>.GetPropertyName(p => p.EmailAddress, false), "Email"),
                //grid.Column(EntityReader<OrganizationModel>.GetPropertyName(p => p.Address, false), "Address"),
                grid.Column(EntityReader<OrganizationModel>.GetPropertyName(p => p.SmsCreditsBalance, false), "Balance"),
                grid.Column(EntityReader<OrganizationModel>.GetPropertyName(p => p.AllowSmsCreditsDebt, false), "Allow Debt"),
                grid.Column(EntityReader<OrganizationModel>.GetPropertyName(p => p.OrganizationSubscriptionEnabled, false), "Enabled"),
                grid.Column(EntityReader<OrganizationModel>.GetPropertyName(p => p.BillingDayOfTheMonth, false), "Billing Day"),
                grid.Column(EntityReader<OrganizationModel>.GetPropertyName(p => p.AccountManagerUserName, false), "Account Manager")
            ))
        </div>
        <div class="organization-preview">
            @if (grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
            {
                organization = (OrganizationModel)grid.Rows[grid.SelectedIndex].Value;
                <div style="float: left; margin-left:2%; margin-right:2%">
                    <b>@Html.Raw(string.Format("Name: {0}", organization.Name))</b>   
                </div>
                <div style="float:right; margin-left:2%; margin-right:2%; color: #a30e0e;">
                    @Html.Raw(string.Format("{0}", organization.Address))
                </div>
            }
        </div>
    </div>
    <div id="OrganizationsErrorField" style="color:#8A0808">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <br />
            @Html.Raw(ViewBag.ErrorMessage)
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SearchText").focus();
        makeGridRowsPostForm();
        enableDatepickers();
    });

    function onSearchOrganizationsClick() {
        postOrganizations();
    }

    function onDeleteOrganizationClick() {
        showDialog(
            '#divConfirmationDialog',
            '#dlgConfirmation',
            'ConfirmDeleteDialog',
            'Organization',
            'identifier',
            '@organization.OrganizationId.ToString()');
    };

    function onEditOrganizationClick() {
        showDialog(
            '#divEditOrganization',
            '#dlgEditOrganization',
            'EditDialog',
            'Organization',
            'organizationId',
            '@organization.OrganizationId.ToString()');
    };

    function onCreateOrganizationClick() {
        showDialog(
            '#divCreateOrganization',
            '#dlgCreateOrganization',
            'CreateDialog',
            'Organization',
            '',
            '');
    };

    function getSearchParametersString() {
        var searchParameters = '@string.Format("{0}|{1}|{2}",
        Model.SearchText != null ? Model.SearchText : string.Empty,
        Model.StartDate.HasValue ? Model.StartDate.Value.Date.ToString() : string.Empty,
        Model.EndDate.HasValue ? Model.EndDate.Value.Date.ToString() : string.Empty)'
        return searchParameters;
    }

    function onDeleteAllOrganizationsClick() {
        var searchParameters = getSearchParametersString();
        showDialog(
            '#divConfirmationDialog',
            '#dlgConfirmation',
            'ConfirmDeleteAllDialog',
            'Organization',
            'searchParametersString',
            searchParameters);
    }

    function onDownloadAllOrganizationsCsvFileClick() {
        var searchParameters = getSearchParametersString();
        var downloadUrl = '@Url.Action("DownloadCsvFile", "Organization", new { searchParametersString = "_searchValue" })';
        downloadUrl = downloadUrl.replace('_searchValue', searchParameters);
        window.location = downloadUrl;
    }

    function onViewOrganizationSubscriptionsClick() {
        var selectedOrganizationId = '@organization.OrganizationId';
        var downloadUrl = '@Url.Action("Index", "OrganizationSubscription", new { organizationId = "_organizationId" })';
        downloadUrl = downloadUrl.replace('_organizationId', selectedOrganizationId);
        window.location = downloadUrl;
    }

    function onViewOrganizationUsersClick() {
        var selectedOrganizationId = '@organization.OrganizationId';
        var downloadUrl = '@Url.Action("Index", "User", new { organizationId = "_organizationId" })';
        downloadUrl = downloadUrl.replace('_organizationId', selectedOrganizationId);
        window.location = downloadUrl;
    }

    function postOrganizations() {
        $('form#frmDetails').trigger('submit');
    };

</script>