@model Figlut.Spread.Web.Site.Models.SendSmsModel
<div id="dlgSendSmsDialog">
    <img src="~/Images/Icons/red-mail-open-icon32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="SendSmsForm">
            @Html.ValidationSummary(true, "Send SMS failed.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.MaxSmsSendMessageLength)

                <div class="field-label">
                    @Html.Raw(string.Format("Cell Phone Number", Model.CellPhoneNumber))
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.CellPhoneNumber, new { onKeyPress = "return disableEnterKey(event)" })
                    @Html.ValidationMessageFor(m => m.MessageContents)
                </div>

                <div class="field-label">
                    @Html.Raw(string.Format("Message (max {0} characters)", Model.MaxSmsSendMessageLength))
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(m => m.MessageContents, new { style = "height: 100px;width:80%", onKeyPress = "return disableEnterKey(event)" })
                    @Html.ValidationMessageFor(m => m.MessageContents)
                </div>
                <br />
                <div id="SendSmsErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgSendSmsDialog';
        createDialog(dialogName, 'Send SMS', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
        //$("#MessageContents").focus();
    });

    function onConfirmOK() {
        sendEnabled = false;

        var cellPhoneNumber = $("#CellPhoneNumber").val();
        var waitMessage = 'Sending SMS to ' + cellPhoneNumber + ' ...';
        var informationMessage = 'SMS sent successfully to ' + cellPhoneNumber + '.';

        $(".ui-dialog-buttonpane button:contains('OK')").hide();
        showDialog(
            '#divWaitDialog',
            '#dlgWait',
            'WaitDialog',
            'SmsSent',
            'message',
            waitMessage);

        var dialogName = '#dlgSendSmsDialog';
        var postBackUrl = '@Url.Action("SendSms", "SmsSent")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#SendSmsForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(".ui-dialog-buttonpane button:contains('OK')").show();
                    $('#dlgWait').dialog("close");
                    $(dialogName).dialog("close");
                    showDialog(
                        '#divInformationDialog',
                        '#dlgInformation',
                        'InformationDialog',
                        'SmsSent',
                        'message',
                        informationMessage);
                    $("#MessageContents").val('');
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $('#dlgWait').dialog("close");
                    $(".ui-dialog-buttonpane button:contains('OK')").show();
                    $("#SendSmsErrorField").html(data.ErrorMsg);
                    sendEnabled = true;
                }
            }
        })
    };

    function onConfirmOpen() {
    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#SendSmsErrorField").html('');
    }
</script>