@model Figlut.Spread.Web.Site.Models.ScheduleEntryModel

<div id="dlgShiftScheduleEntry">
    <img src="~/Images/Icons/red-edit32.png" style="float:right; margin-right:1%; margin-left:1%" />
    <div class="centerForm">
        <form id="ShiftScheduleEntryForm">
            @Html.ValidationSummary(true, "Failed to shift.")
            <fieldset>
                <legend>Confirmation Form</legend>
                @Html.HiddenFor(m => m.ScheduleEntryId)
                @Html.HiddenFor(m => m.ScheduleId)
                @Html.HiddenFor(m => m.SMSMessageId)
                @Html.HiddenFor(m => m.DateCreated)
                @Html.HiddenFor(m => m.SubscriptionId)
                @Html.HiddenFor(m => m.NotificationMessage)
                @Html.HiddenFor(m => m.ScheduleName)
                @Html.HiddenFor(m => m.Quantity)
                @Html.HiddenFor(m => m.UnitOfMeasure)
                @Html.HiddenFor(m => m.DaysRepeatInterval)
                @Html.HiddenFor(m => m.NotificationDateFormatted)
                @Html.HiddenFor(m => m.ScheduleNotes)
                @Html.HiddenFor(m => m.ScheduleDateCreated)

                <div class="field-label">
                    @Html.Raw("Entry Date")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.EntryDateShift, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.EntryDateShift)
                </div>
                <br />
                <div id="ShiftScheduleEntryErrorField" style="color:#8A0808"></div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dialogName = '#dlgShiftScheduleEntry';
        createDialog(dialogName, 'Shift Schedule Entry', onConfirmOK, onConfirmOpen, onConfirmCancel, 450, 450);
        enableDatepickers();
    });

    function onConfirmOK() {
        var dialogName = '#dlgShiftScheduleEntry';
        var postBackUrl = '@Url.Action("ShiftDialog", "ScheduleEntry")';
        $.ajax({
            url: postBackUrl,
            type: 'POST',
            data: $("#ShiftScheduleEntryForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $(dialogName).dialog("close");
                    //Submit the form which will refresh grid to show the change the enabled/disabled.
                    var form = $('#frmDetails');
                    form.submit()
                } else {
                    $("#ShiftScheduleEntryErrorField").html(data.ErrorMsg);
                }
            }
        })
    };

    function onConfirmOpen() {

    }

    function onConfirmCancel() {
        //$('#confirmation-message').val('');
        $("#ShiftScheduleEntryErrorField").html('');
    }
</script>