@model Figlut.Spread.Web.Site.Models.FilterModel<SubscriberModel>

@using Figlut.Server.Toolkit.Data;
@using Figlut.Spread.Web.Site.Configuration;
@using Figlut.Spread.Web.Site;
@using Figlut.Spread.Web.Site.Models;
@using Figlut.Spread.Web.Site.Extensions;
@using Figlut.Spread.ORM.Helpers;

@{
    Figlut.Spread.Web.Site.Models.SubscriberModel subscriber = new SubscriberModel();
}
@{
    int subscribersPerPageToDisplay = Convert.ToInt32(SpreadWebApp.Instance.GlobalSettings[GlobalSettingName.SubscribersPerPageToDisplay].SettingValue);
    var grid = new WebGrid(Model.DataModel, canPage: true, rowsPerPage: subscribersPerPageToDisplay, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.All);
}

<div id="gridContent" class="data-grid">
    <div id="gridWrapper">
        <div class="centerInformation" style="float:inherit; margin-top:1%; margin-bottom:1%;">
            <div class="grid-search">
                <table style="width:99%;">
                    <tr>
                        <td style="width:60%;">
                            <div class="search-text">
                                @Html.Raw("Search Text")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.EditorFor(m => m.SearchText)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid-buttons">
                <div style="float: left; margin-left:2%; margin-right:2%">
                    @Html.LinkButtonForSubmit("Search", "onSearchSubscribersClick()", "btnSearch", "search.png")
                    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        @Html.LinkButtonForSubmit("Download", "onDownloadAllSubscribersCsvFileClick()", "btnDownload", "spreadsheet.png")
                        if (grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
                        {
                            subscriber = (SubscriberModel)grid.Rows[grid.SelectedIndex].Value;
                            @Html.LinkButtonForSubmit("Subscriptions", "onViewSubscriberSubscriptionsClick()", "btnViewSubscriberSubscriptions", "red-balloon-plus-icon32.png")
                        }
                    }
                </div>
                <div style="float: right; margin-left:2%; margin-right:2%">
                    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage) && Model.IsAdministrator)
                    {
                        @Html.LinkButtonForSubmit("Create", "onCreateSubscriberClick()", "btnCreateSubscriber", "red-document-plus-icon32.png")
                        @Html.LinkButtonForCancel("Delete All", "onDeleteAllSubscribersClick()", "btnDeleteAllSubscribers")
                        if (grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
                        {
                            subscriber = (SubscriberModel)grid.Rows[grid.SelectedIndex].Value;
                            @Html.LinkButtonForCancel("Delete", "onDeleteSubscriberClick()", "btnDeleteSubscriber")
                            @Html.LinkButtonForSubmit("Edit", "onEditSubscriberClick()", "btnEditSubscriber", "red-edit.png")
                        }
                    }
                </div>
            </div>
        </div>
        <div class="subscriber-preview">
            @if (Model.IsAdministrator && grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
            {
                subscriber = (SubscriberModel)grid.Rows[grid.SelectedIndex].Value;
                <div style="float:left; margin-left:2%; margin-right:2%;">
                    <b>@Html.Raw(string.Format("ID: {0}", subscriber.SubscriberId.ToString()))</b>
                </div>
            }
            <div style="float: right; margin-left:2%; margin-right:2%">
                <b>@Html.Raw(string.Format("Subscribers Loaded: {0} of {1}", Model.TotalCount.ToString(), Model.TotalTableCount.ToString()))</b>
            </div>
        </div>
        <div id="gridTableContainer">
            @grid.GetHtml(
                tableStyle: "webGrid",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("Subscribers", format: (item) => item.GetSelectLink("*"), style: "select-column-style"),
                grid.Column(EntityReader<SubscriberModel>.GetPropertyName(p => p.CellPhoneNumber, false), "Cell Phone Number"),
                grid.Column(EntityReader<SubscriberModel>.GetPropertyName(p => p.Name, false), "Name"),
                grid.Column(EntityReader<SubscriberModel>.GetPropertyName(p => p.Enabled, false), "Name"),
                grid.Column(EntityReader<SubscriberModel>.GetPropertyName(p => p.DateCreated, false), "Date Created")
            ))
        </div>
        <div class="subscriber-preview">
            @if (grid.HasSelection && (grid.SelectedIndex < grid.Rows.Count))
            {
                subscriber = (SubscriberModel)grid.Rows[grid.SelectedIndex].Value;
                <div style="float: left; margin-left:2%; margin-right:2%">
                    <b>@Html.Raw(string.Format("Name: {0}", subscriber.CellPhoneNumber))</b>   
                </div>
                <div style="float:right; margin-left:2%; margin-right:2%; color: #a30e0e;">
                    @Html.Raw(string.Format("{0}", subscriber.Name))
                </div>
            }
        </div>
    </div>
    <div id="SubscribersErrorField" style="color:#8A0808">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <br />
            @Html.Raw(ViewBag.ErrorMessage)
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SearchText").focus();
        makeGridRowsPostForm();
        enableDatepickers();
    });

    function onSearchSubscribersClick() {
        postSubscribers();
    }

    function onDeleteSubscriberClick() {
        showDialog(
            '#divConfirmationDialog',
            '#dlgConfirmation',
            'ConfirmDeleteDialog',
            'Subscriber',
            'identifier',
            '@subscriber.SubscriberId.ToString()');
    };

    function onEditSubscriberClick() {
        showDialog(
            '#divEditSubscriber',
            '#dlgEditSubscriber',
            'EditDialog',
            'Subscriber',
            'subscriberId',
            '@subscriber.SubscriberId.ToString()');
    };

    function onCreateSubscriberClick() {
        showDialog(
            '#divCreateSubscriber',
            '#dlgCreateSubscriber',
            'CreateDialog',
            'Subscriber',
            '',
            '');
    }

    function getSearchParametersString() {
        var searchParameters = '@string.Format("{0}|{1}|{2}",
        Model.SearchText != null ? Model.SearchText : string.Empty,
        Model.StartDate.HasValue ? Model.StartDate.Value.Date.ToString() : string.Empty,
        Model.EndDate.HasValue ? Model.EndDate.Value.Date.ToString() : string.Empty)'
        return searchParameters;
    }

    function onDeleteAllSubscribersClick() {
        var searchParameters = getSearchParametersString();
        showDialog(
            '#divConfirmationDialog',
            '#dlgConfirmation',
            'ConfirmDeleteAllDialog',
            'Subscriber',
            'searchParametersString',
            searchParameters);
    }

    function onDownloadAllSubscribersCsvFileClick() {
        var searchParameters = getSearchParametersString();
        var downloadUrl = '@Url.Action("DownloadCsvFile", "Subscriber", new { searchParametersString = "_searchValue" })';
        downloadUrl = downloadUrl.replace('_searchValue', searchParameters);
        window.location = downloadUrl;
    }

    function onViewSubscriberSubscriptionsClick() {
        var selectedSubscriberId = '@subscriber.SubscriberId';
        var downloadUrl = '@Url.Action("Index", "SubscriberSubscription", new { subscriberId = "_subscriberId" })';
        downloadUrl = downloadUrl.replace('_subscriberId', selectedSubscriberId);
        window.location = downloadUrl;
    }

    function postSubscribers() {
        $('form#frmDetails').trigger('submit');
    };

</script>