@model Figlut.Spread.Web.Site.Models.ComposeSmsStandaloneModel

@using Figlut.Spread.Web.Site.Configuration;
@using Figlut.Spread.Web.Site.Extensions;

@{
    ViewBag.Title = SpreadWebApp.Instance.Settings.ApplicationName;
    ViewBag.PageTitle = "Compose SMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
}

<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-mail-open-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
            <a href="" style="float:right">Compose SMS</a>
        </li>
    </ul>
</nav>
<hr />

<div class="centerForm">
    <form id="ComposeStandaloneSmsForm">
        @Html.ValidationSummary("Send SMS failed.")
        <fieldset>
            <legend>Edit User</legend>
            <div class="field-label">
                @Html.Raw("Cell Phone Number")
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.CellPhoneNumber, new { onKeyPress="return disableEnterKey(event)"} )
                @Html.ValidationMessageFor(m => m.CellPhoneNumber)
            </div>
            <div class="field-label">
                @Html.Raw("Message (140 characters)")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.MessageContents, new { style = "height: 100px;" })
                @Html.ValidationMessageFor(m => m.MessageContents)
            </div>
            <div class="buttons">
                @Html.LinkButtonForSubmit("Send", "onComposeStandaloneSmsSendClick()", "btnComposeStandaloneSmsSend")
                @Html.LinkButtonForCancel("Cancel", "onComposeStandaloneSmsCancelClick()", "btnComposeStandaloneSmsCancel")
            </div>
            <div id="ComposeStandaloneSmsErrorField" style="color:#8A0808"></div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">

    var sendEnabled = false;

    $(document).ready(function () {
        $("#CellPhoneNumber").focus();
        //$(document).keypress(function (event) {
        //    if (event.which == 13) {
        //        var tagName = e.target.tagName.toLowerCase();
        //        if (tagName !== "textarea" && sendEnabled) {
        //            $("#btnComposeStandaloneSmsSend").click();
        //        }
        //    }
        //});
        loadDialog("#divWaitDialog", "#dlgWait", "WaitDialog", "SmsSent", 'message', '@string.Empty');
        loadDialog("#divInformationDialog", "#dlgInformation", "InformationDialog", "SmsSent", 'message', '@string.Empty');
        sendEnabled = true;
    });

    function onComposeStandaloneSmsSendClick() {
        sendEnabled = false;

        var cellPhoneNumber = $("#CellPhoneNumber").val();
        var waitMessage = 'Sending SMS to ' + cellPhoneNumber + ' ...';
        var informationMessage = 'SMS sent successfully to ' + cellPhoneNumber + '.';
        $("#btnComposeStandaloneSmsSend").hide();
        showDialog(
            '#divWaitDialog',
            '#dlgWait',
            'WaitDialog',
            'SmsSent',
            'message',
            waitMessage);

        //$("#btnComposeStandaloneSmsSend").attr("disabled", true);
        $.ajax({
            url: '@Url.Action("ComposeStandalone", "SmsSent")',
            type: 'POST',
            data: $("#ComposeStandaloneSmsForm").serialize(),
            success: function (data) {
                if (data.Success) {
                    $("#btnComposeStandaloneSmsSend").show();
                    $('#dlgWait').dialog("close");
                    showDialog(
                        '#divInformationDialog',
                        '#dlgInformation',
                        'InformationDialog',
                        'SmsSent',
                        'message',
                        informationMessage);
                    $("#CellPhoneNumber,#MessageContents").val('');
                } else {
                    $('#dlgWait').dialog("close");
                    $("#btnComposeStandaloneSmsSend").show();
                    $("#ComposeStandaloneSmsErrorField").html(data.ErrorMsg);
                    sendEnabled = true;
                }
            }
        })
    };

    function onComposeStandaloneSmsCancelClick() {
        var url = '@Url.Content("~/Home")';
        window.location.href = url;
    };

    function onEditUserProfileChangePasswordClick() {
        var url = '@Url.Action("ChangePassword", "User")';
        window.location.href = url;
    };
</script>